@import "./.././../assets/styles/variables.scss";

.list {
  position: relative;

  &:not(:first-child) {
    margin-top: 100px;
  }

  .vignette-left {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90%;
    width: 7%;
    background-image: linear-gradient(to left,
        rgba(255, 255, 255, 0) 0%,
        var(--black) 100%);
    z-index: 2;
    cursor: pointer;

    &:not(.final-left)::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      left: 20px;
      top: calc(50% - 20px);
      border-radius: 120px;
      mask-image: url(./../../assets/icons/chevron-left.svg);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background: var(--brand-color-1);
      filter: brightness(2);
      z-index: 2;
    }
  }

  h3 {
    padding-left: 20px;
    color: white;
  }

  &:not(.final-right)::before {
    content: "";
    position: absolute;
    width: 40px;
    cursor: pointer;
    height: 40px;
    right: 10px;
    top: calc(50% - 20px);
    border-radius: 120px;
    mask-image: url(./../../assets/icons/chevron-right.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background: var(--brand-color-1);
    filter: brightness(2);
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 7%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to right,
        rgba(255, 255, 255, 0) 0%,
        var(--black) 100%);
  }

  .cards {
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 20px;
    padding-left: 0px;

    &:empty {
      display: none;
    }

    @media screen and (max-width: $mobile) {
      gap: 0px;

      :nth-child(n).card {
        margin-left: 15px;
      }
    }

    :last-child#see-more {
      margin-right: 7%;
    }
  }
}