.cast-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black-300);
  border-radius: 6px;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  transition: all 0.2s;
  cursor: pointer;
  min-height: 283px;

  &:hover {
    box-shadow: 0px 0px 20px 5px var(--black-300);
  }

  figure {
    min-width: 138px;
    min-height: 175px;

    .profile-placeholder {
      height: 175px;
      width: 100%;
      background-color: var(--black-100);
      position: relative;

      &::before {
        content: '';
        mask-image: url(./../../../../assets/icons/person.svg);
        position: absolute;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        width: 50px;
        height: 50px;
        z-index: 10;
        background-color: var(--black-400);
        top: calc(50% - 25px);
        left: calc(50% - 25px);
      }
    }

    img {
      max-width: 138px;
    }
  }

  .cast-info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;

    * {
      cursor: pointer;
    }

    label {
      font-size: clamp(13px, 1.5vw, 18px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 118px;

      &.name {
        font-weight: 700;
      }

      &.character,
      &.department {
        color: #adadad;
      }
    }
  }

  .details-modal {
    display: flex;
    background-color: var(--black-300);
    max-width: 1368px;
    max-height: 450px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      max-height: calc(100vh - 40px);
      overflow: auto;

      img {
        min-width: 100%;
        max-height: unset !important;
      }

      .info-wrapper > label {
        overflow: hidden !important;
        max-height: unset !important;
      }
    }

    img {
      min-width: 300px;
      max-height: 450px;
      height: 100%;
    }


    .info-wrapper {
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      @media screen and (min-width: 768px) {
        width: calc(100% - 300px);
        overflow: auto;
      }

      .main-content-cast-modal {
        display: flex;
        flex-direction: column;
        gap: 40px;

        label {
          font-size: clamp(15px, 2vw, 20px);
          max-height: 378px;
          overflow: auto;
        }


      }

      .footer {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .externals {
          display: flex;
          gap: 30px;
          position: relative;
          flex-wrap: wrap;

          @media screen and (min-width: 768px) {
            justify-content: space-around;
          }

          &::before {
            content: '';
            position: absolute;
            border: 1px dashed var(--black-100);
            width: 100%;
            bottom: calc(100% + 20px);
          }

          .external-id {
            font-size: clamp(17px, 2vw, 20px);
            font-weight: 500;
            display: flex;


            a {
              display: flex;
              gap: 5px;

              .icon {
                width: 30px;
                height: 30px;
                background-position: center;
                background-size: contain;
              }

              text-decoration: none;
              transition: all 0.5s;
              padding: 0px 10px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .combined-credits {
          overflow-x: auto;

          @media screen and (max-width: 768px) {
            max-height: 600px;

            h3 {
              position: sticky;
              top: 0px;
              z-index: 10;
              background-color: var(--black-300);
            }
          }

          .combined-credits-list {
            display: flex;
            gap: 15px;

            @media screen and (max-width: 768px) {
              display: grid;
              grid-template-columns: repeat(auto-fill, 160px);
              justify-content: center;
            }
          }
        }
      }
    }
  }
}