.seasons-wrapper {
  position: relative;
  margin-top: 8rem;

  h3 {
    margin: 0px 0px 20px 0px;
    font-size: clamp(17px, 2vw, 25px);
    font-weight: 700;
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: calc(100% + 4rem);
    border: 1px dashed var(--black-300);
    width: 100%;
  }

  .seasons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s;
    overflow: auto;

    ul {
      display: flex;
      gap: 15px;
      flex-grow: 0;
      flex-shrink: 0;
      white-space: nowrap;
      padding: 20px 0px;
      overflow: auto;

      span {
        cursor: pointer;
        position: relative;
        padding: 8px 30px;

        &:hover::after {
          width: 100%;
          left: 0%;
        }

        &::after {
          content: '';
          position: absolute;
          width: 0%;
          transition: all 0.5s;
          border-bottom: 1px solid var(--black-300);
          bottom: 0px;
          left: 50%;
        }
      }
    }
  }
}