.select-wrapper {
  position: relative;
  color: white;

  .input-container {
    position: relative;

    input {
      font-weight: 600;

      &[readonly] {
        cursor: pointer;
      }

      &.open-style {
        border-radius: 5px 0px 5px 0px;
      }
    }
  }

  .options {
    max-height: 0px;
    left: 0%;
    overflow: auto;
    position: absolute;
    background: linear-gradient(90deg,
        var(--brand-color-1) 0%,
        var(--brand-color-4) 90%);
    transition: all 0.5s;
    transition-delay: 0ms;
    width: 100%;
    margin-top: 5px;

    * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: var(--black);
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      left: 2px;
      top: 2px;
      border-radius: 5px;
    }

    &.open {
      max-height: 200px;
      transition-delay: 500ms;

      .options-container {
        padding: 10px;
      }

      .option-placeholder {
        padding: 10px;

        label {
          font-size: 15px;
        }
      }
    }

    .options-container {
      transition: all 0.5s;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .option {
        padding: 8px;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &.selected {
          background: var(--black-300);
        }

        label.strong {
          font-weight: bold;
        }

        span {
          font-size: 12px;
        }

        * {
          cursor: pointer;
        }

        &:hover {
          background: var(--black-300);
        }
      }
    }

    .option-placeholder {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      label {
        transition: all 0.5s;
        font-size: 0px;
        text-align: center;
      }

      .box {
        height: 90px;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}