.season {
  display: flex;
  gap: 10px;

  .overview {
    overflow: auto;
    width: 100%;
    padding: 0px 30px 30px 30px;

    .date {
      font-weight: 500;
      color: var(--black-100);
      margin-bottom: 1rem;
    }

    .episodes-wrapper {
      width: 100%;

      .episodes-container {
        display: flex;
        gap: 15px;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;

        .episode-wrapper {
          display: flex;
          gap: 10px;
          position: relative;
          padding: 5px;
          border-radius: 5px;
          transition: all 0.5s;
          cursor: pointer;

          @media screen and (max-width: 768px) {
            flex-direction: column;
          }

          &:hover {
            background-color: var(--brand-color-1);
          }

          .episode-container,
          .episode-data {
            z-index: 1;
          }

          &::before {
            content: '';
            position: absolute;
            height: calc(100% - 4px);
            width: calc(100% - 4px);
            top: 2px;
            left: 2px;
            background-color: var(--black);
            z-index: 1;
            border-radius: 5px;
          }

          .episode-data {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }

          }

          .episode-container {
            height: 120px;
            width: 210px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            border-radius: 8px;
            border: 1px solid var(--black-300);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 10px 5px;
            flex-grow: 0;
            flex-shrink: 0;

            &.placeholder {
              background-color: var(--black-200);
              position: relative;

              &::before {
                content: '';
                mask-image: url(./../../../../../assets/icons/tv-show.svg);
                width: 50%;
                height: 50%;
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: var(--black-400);
                position: absolute;
                top: 25%;
              }
            }
          }
        }
      }


      .episode-details-container {
        max-width: 533px;
        max-height: 95vh;
        background-color: var(--black-300);

        .average {
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 2;
        }

        .details-episode-overview-data {
          padding: 20px;
          overflow: auto;
          max-height: calc(95vh - 300px);

          .crew-episode-wrapper {
            display: flex;
            gap: 15px;
            overflow: auto;
            padding: 15px 0px;

            .crew-episode {
              display: flex;
              flex-direction: column;
              gap: 10px;
              width: 138px;
              height: 100%;
              border-radius: 10px;
              border: 1px solid var(--black-100);

              @media screen and (max-width: 568px) {
                width: 93px;
              }

              img {
                border-radius: 10px 10px 0px 0px;
                width: 136px;
                height: 172.45px;

                @media screen and (max-width: 568px) {
                  width: 90px;
                  height: 100px;
                }

                &:not([src]) {
                  background-color: var(--black-100);
                  position: relative;

                  &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: var(--black-100);
                    z-index: 1;
                  }

                  &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    mask-image: url(./../../../../../assets/icons/person.svg);
                    mask-size: 50%;
                    mask-position: center;
                    mask-repeat: no-repeat;
                    background-color: var(--black-400);
                    z-index: 1;
                  }
                }
              }

              .crew-data {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }

          .details-episode-overview-wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;

          }

          h3 span {
            font-size: 15px;
            color: var(--black-100);
          }
        }

      }
    }

    span {
      color: var(--black-300);
      margin-bottom: 1rem;
    }
  }

  &:not(:last-child) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: calc(100% + 10px);
      width: 100%;
      border: 1px solid var(--black-300);
      left: 0;
    }
  }
}