.atom-modal {
     position: fixed;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 5000;
     transition: all 0.5s;
     animation: open-animation 0.2s;

     .content {
          position: fixed;
          box-shadow: 0px 0px 10px 10000px #00000066;
          padding: 30px;
          background-color: white;
          border-radius: 10px;
          margin: 50px;


          .close {
               position: absolute;
               top: 10px;
               right: 10px;

               .icon {
                    width: 18px;
                    height: 18px;
                    mask-position: center;
                    mask-size: contain;
                    background-color: var(--dark-300);
                    cursor: pointer;

                    &:hover {
                         background-color: var(--dark-500);

                    }
               }
          }
     }

     @keyframes open-animation {
          from {
               height: 20vh;
          }

          to {
               height: 100vh;
          }
     }
}