header {
     $padding: 70px;
     min-height: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0px $padding;
     position: fixed;
     width: calc(100vw - ($padding *2));
     background-color: rgba(0, 0, 0, var(--opacity));
     color: rgba(var(--text-color-rgba), var(--text-color-rgba), var(--text-color-rgba));

     .content-header {
          width: 100%;

          .left-container {
               height: 100%;

               .item {
                    display: flex;
                    gap: 5px;

                    .icon {
                         width: 20px;
                         height: 20px;
                         background-color: white;
                         mask-size: cover;
                         mask-repeat: no-repeat;
                         mask-position: center;
                    }
               }
          }
     }
}