@import "./../../assets/styles/variables.scss";

$margin: 30px;

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: $margin 0px;
  gap: $margin;
  margin-top: 90px;
  bottom: -90px;
  border-top: 1px solid var(--black-100);
  transition: all 0.5s;

  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
    gap: unset;
  }

  @media screen and (max-width: 1950px) {
    padding: $margin;
  }

  span {
    color: white;
  }

  .container {
    max-width: 800px;
    @media screen and (max-width: $mobile) {
      margin-bottom: $margin;
    }

    &.middle-content > span {
      color: var(--black-100);
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: calc($margin - 10px);

      @media screen and (max-width: $mobile) {
        gap: 0px;
        :first-child {
          margin-bottom: $margin;
        }
      }

      span {
        label:nth-child(2) {
          font-weight: 500;
        }

        label:first-of-type {
          color: var(--black-100);
        }
      }
    }
  }
}
