.search-wrapper-results {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 1000vh;
  background: var(--black-400);
  z-index: -1;
  opacity: 0.95;
  filter: blur(1);
  transition: all 0.5s;
  overflow: auto;

  &.show {
    top: 0vh;

    .close-search-container {
      width: 45px;
      height: 45px;
      border-radius: 90px;
      position: absolute;
      left: 10px;
      top: 10px;
      background-color: white;
      transition: all 0.5s;

      &:hover::before {
        background-color: var(--black-200);
      }

      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        cursor: pointer;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        background-color: var(--black-400);
        mask-image: url(./../../assets/icons/close.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
      }
    }

    .content-search-selector {
      position: relative;
      top: 65px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .list-search {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .results-content {
        position: relative;
        padding: 20px;

        .type-result-header {
          display: flex;


          .type-results {
            display: flex;
            gap: 40px;
            font-size: clamp(17px, 2vw, 25px);

            .hover-effect {
              text-decoration: underline;
              color: var(--brand-color-1);
            }

            span {
              position: relative;
              cursor: pointer;
              transition: all 0.5s;

              &.active {
                @extend .hover-effect;
              }

              &:hover {
                @extend .hover-effect;
                filter: brightness(2);
              }


              &:not(:last-child)::after {
                content: '/';
                color: white;
                pointer-events: none;
                position: absolute;
                left: calc(100% + 25%);
              }
            }
          }
        }
      }
    }

  }

  &.no-results {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;

    &::before {
      content: '';
      background-color: white;
      width: 50%;
      max-width: 500px;
      max-height: 400px;
      mask-image: url(./../../assets/icons/not-found.svg);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      height: 40%;
    }

    &::after {
      content: attr(not-found-msg);
      font-size: clamp(15px, 4vw, 30px);
      text-align: center;
    }
  }

}