 .average {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #413d48;
      z-index: 1003;
      color: white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 0;
      flex-shrink: 0;
      font-weight: 600;

      &::before {
           content: attr(average-vote);
           position: absolute;
           font-size: 12px;
      }

      svg {
           transform: rotate(-90deg);
           max-width: 100%;
           vertical-align: middle;
           width: 50px;
           height: 50px;

           .track {
                stroke: transparent;
                cx: 50px;
                cy: 50px;
                r: 40px;
                fill: transparent;
                stroke-width: 5px;
                transform: scale(0.5);
           }

           .indicator {
                @extend .track;
                stroke-dasharray: 251.2px;
                stroke-linecap: round;
           }
      }
 }