main {
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;

  .page-content {
    margin: auto auto;
    width: calc(100% - 80px);
    height: 80%;
    display: flex;
    background-color: #f7f7f7;
    border-radius: 9px;
    box-shadow: 2px 0px 10px #a1a1a1;
    max-height: 100vh;
    overflow: auto;
    position: relative;

  }
}