button {
  background-color: var(--brand-color-1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 42px;
  padding: 0px 10px;
  border-radius: 6px;
  cursor: pointer;
  border: unset;

  &.outline {
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 1px var(--brand-color-1);
  }
}