input {
  background-color: transparent;
  border: unset;
  filter: invert(1);
  position: relative;
  min-height: 35px;
  font-size: 16px;
  transition: all .5s;
  width: 100%;
  border-radius: 5px;
  outline: unset;
  box-shadow: inset 0px 0px 0px 2px var(--brand-color-2);
  padding: 0px 10px;

  ~span.line-in {
    position: absolute;
    transition: all 0.5s;
    width: 0%;
    border: 0px solid var(--brand-color-1);
    left: 50%;
    bottom: -2px;
  }

  &:focus-visible {
    box-shadow: inset 0px 0px 0px 0px var(--brand-color-2);

    &~span.line-in {
      position: absolute;
      width: 100%;
      border: 1px solid var(--brand-color-1);
      left: 0%;
      bottom: -2px;
    }
  }
}