@import "./colors.scss";
@import "./button.scss";
@import "./input.scss";
@import "./loader.scss";
@import "./variables.scss";

html {
  background-color: var(--black);
  overflow-x: hidden;

  *::selection {
    filter: invert(1);
    background-color: var(--brand-color-1);
    color: white;
  }
}

a {
  color: unset;
}

#root {
  clip-path: circle(0);
  transition: all 0.5s;
  overflow: auto;
  height: 100vh;
  background-color: var(--black-300);

  &.show {
    background-color: var(--black);
    clip-path: circle(100%);
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

html.desktop {
  * {
    scrollbar-width: auto;
    scrollbar-color: #d6d6d6 #ffffff;
  }
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--black-300);
    border-radius: 16px;
    border: 2px solid #ffffff00;
  }
}

iframe .ytp-show-cards-title {
  display: none !important;
}

/* Chrome, Edge, and Safari */
