.main-details-wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
  top: 90px;
  transition: all 0.5s;
  color: white;

  @media screen and (max-width: 1990px) {
    padding: 0px 30px;
  }
  .movie-main-details {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
